.navbar {
    background-color: #404040;

    border-color:#404040;
    border-radius: 0%;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    position: fixed;
    z-index: 400;
    transition: background 1s ease 0s;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    color: #afcecf;
}

li a :hover {
    color: white;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #afcecf;
    color: #404040;

}

#rest {
    padding-left:30px;
}

#title {
    text-align: center;
    /*font-size:120px;*/
    padding-top: 120px;
}

.container-fluid {
    font-size: 20px;
}

.section {
    font-weight: bold;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 10px;

}

footer {
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}
